<h1>New review</h1>
<%= simple_form_for [@broomstick, @user, @booking] do |f| %>
  <%= f.input :start_date %>
  <%= f.input :end_date %>
  <%= f.submit "Submit booking", class: "btn btn-primary" %>
<% end %>
