<div class="searchbar-box">
  <form action="">
    <input class="searchbar" type="text" name="q" placeholder="Find your perfect broomstick...">
    <button class="btn-black" type="submit">Let's fly!</button>
  </form>
</div>
