.product {
  margin: 100px 0;
}

.product-box {
  display: flex;
}

.product-image {
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
  border-radius: 20px ;
  width: 500px;
  height: 500px;
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  margin-top: 72px;
  margin-left: 90px;
}

.image {
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  width: 500px;
  height: 300px;
  margin-left: 90px;
  object-fit: cover;
}

.product-info {
  padding-left: 50px;
  margin-right: 80px;
}

.broom-heading {
  display: flex;
  justify-content: space-between;
}

.properties {
  display: flex;
  p {
    margin-bottom: 0px;
    font-size: 23px;
  }
}

.location {
  p {
    font-size: 23px;
  }
}

.reviews {
  p {
    font-size: 18px;
  }
}

.price {
  display: flex;
  font-size: 30px;
  i {
    color: #D6B400;
    margin-left: 10px;
  }
  p {
    margin-bottom: 0px;
  }
}

.back-button {
  text-decoration: none;
}
.back-button:hover{
  color: white;
  text-decoration: none;
}

.edit-btns {
  display: flex;
  margin: 0 8px;
  justify-content: space-around;
  width: 100px;
}
