.my-banner {
  background-size: cover;
  background-position: 50% 75%;
  padding: 20px 0;
  background-image: linear-gradient(rgba(0,0,0,0.1),rgba(0,0,0,0.1)), url("broomstick-banner.jpeg");
  position: absolute;
  width: 100%;
  height: 480px;
  left: 0px;
  top: 0px;
}
