.booking-input-box {
  input, select, textarea {
    background-color: #EFE2C4;
    width: 400px;
    height: 70px;
    border-radius: 10px;
    border: 2px solid #740001;
    box-shadow: 2px 2px 8px #d1c7af;
  }
}

#submit-btn {
  padding-left: 0px;
}

#cancel-btn {
  padding-left: 0px;
}
