.btn-black {
  color: white;
  padding: 8px 12px;
  border-radius: 6px;
  font-weight: 500;
  font-size: 16px;
  text-align: center;
  background: black;
  transition: all 0.3s ease;
  text-decoration: none;
}

.btn-black:hover {
  background-color: white;
  color: black;
}

.btn-light {
  color: rgb(0, 0, 0);
  padding: 11px 12px;
  border-radius: 6px;
  font-weight: bold;
  background: #EFE2C4;
  transition: all 0.3s ease;
  margin-right: 10px;
  text-decoration: none;
  font-size: 13px;
  height: 42px;
}

.approval.btns {
  display: flex;
  justify-content: center;

}
