.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.card-container {
  position: relative;
}

.card {
  background: #FFFFFF;
  border: 2px solid #000000;
  border-radius: 20px;
  width: 260px;
  height: 300px;
  margin-bottom: 30px;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.25);
  z-index: 1;
}

.card, .card:hover {
  text-decoration: none;
  color: inherit;
}

.card-image {
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
  border-radius: 20px 20px 0px 0px;
  width: 259px;
  height: 162px;
  display: flex;
  justify-content: right;
}

.card-text {
  padding: 12px;
}

.card-heading {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.card-price {
  display: flex;
  margin-left: 10px;
}

.card-features {
  display: flex;
  align-items: baseline;
}
