.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  margin-top: 80px;
}

.card-container {
  position: relative;
  display: flex;
  justify-content: center;
  transition: all 0.2s ease-in-out;
}

.card-container:hover {
  transform: scale(1.04);
}

.card {
  display: inline-grid;
  grid-auto-rows: 1fr;
  overflow: auto;
  background: #FFFFFF;
  border: 2px solid #000000;
  border-radius: 20px;
  width: 260px;
  height: 325px;
  margin-bottom: 30px;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.25);
  a {
    text-decoration: none;
  }
}

.card:hover {
  a {
    text-decoration: none;
    color: inherit;
  }
}

.image-box {
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
  border-radius: 20px 20px 0px 0px;
  min-height: 50%;
  width: 100%;
  object-fit: cover;
  display: flex;
  justify-content: right;
  background-image: url('broomstic-generic.jpeg');
  background-size: cover;
  background-position-y: 50%;
  background-repeat: no-repeat;
}

.card-text {
  padding: 12px;
  height: 50%;
}

.card-heading {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.card-price {
  display: flex;
  margin-left: 10px;
}

.card-features {
  display: flex;
  align-items: baseline;
}
