.footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0px 50px;
  background-color: #C06006;
  height: 200px;
  width: 100%;
  // position: absolute;
  // bottom: 0;
}

.footer-h3 {
  font-size: 30px;
  padding-right: 100px;
  margin-bottom: 0;
}

.info-box {
  display: flex;
}

#text {
  margin-left: 30px;
}

.text-information {
  margin-bottom: 0;
  font-size: large;
}

#social {
  font-size: large;
  margin-top: 13px;
  margin-left: 10px;
}
