.input-box {
  input, select, textarea {
    background-color: #EFE2C4;
    width: 500px;
    height: 70px;
    border-radius: 10px;
    border: 2px solid #740001;
    box-shadow: 2px 2px 8px #d1c7af;
  }
}

.input-box > input-placeholder {
  color: #740001;
}

.row-form-btn {
  margin-left: 20px;
}

#cancel-btn {
  margin-left: 220px;
}

.input-box ::placeholder {
  color: #740001;
  opacity: 40%;
  padding-left: 15px;
}

#broomstick_speed, #broomstick_stability {
  color: #740001;
  padding-left: 15px;
}

#submit-btn {
  text-align: left;
}

#log-in-btn {
  padding-left: 215px;
}

#sign-up-btn {
  padding-left: 214px;
}

.small-form-box {
  display: flex;
  align-items: center;
}

.small-form-input {
  width: 200px;
  margin-right: 15px;
}

.review-content {
  display: flex;
}
