.navbar {
  display: flex;
  justify-content: space-between;
}


.logo {
  font-family: 'Harry Potter', sans-serif;
  font-size: 40px;
}

.user a:link {
  text-decoration: none;
}

a {
  color: black;
}

// a:hover {
//   color: ;
// }

// // .navbar-lewagon .navbar-collapse {
// //   flex-grow: 0;
// // }

// // .navbar-lewagon .navbar-brand img {
// //   width: 40px;
// // }
