.navbar {
  display: flex;
  justify-content: space-between;
}


.logo {
  font-family: 'Harry Potter', sans-serif;
  font-size: 40px;
  margin-left: 24px;
}

.user a:link {
  text-decoration: none;
}

a {
  color: black;
}

.user {
  margin-right: 24px;
}

.user-info {
  display: flex;
}

.dropdown-item {
  margin-top: 12px;
  margin-right: 22px;
}

.nav-link {
  margin-right: 18px;
  margin-top: 12px;
}

#navbarDropdown::after {
  display: none;
}
