<div class="container">
  <nav class= "navbar">
   <div class="logo">AirBroomNBroom</div>
    <div class="user">
      <%= link_to "Sign Up", new_user_registration_path%>
      <%= link_to "Log In", new_user_session_path %>
      <i class="fa-solid fa-user-tie"></i>
    </div>
  </nav>

    <% @broomsticks.each do |broomstick| %>
  <div>
    <%= link_to "#{broomstick.name}", broomstick_path(broomstick) %>
    <% end %>
  </div>

  <hr>

  <div>
    <%= link_to "Create new broomstick listing", new_broomstick_path %>
  </div>
</div>
