<div class="my-banner"></div>
<div class="container">
  <div class="home-content">
    <div class="home-intro">
      <h2>Welcome to the number 1 broomstick marketplace!</h2>
      <h2>Hire a broomstick today</h2>
    </div>
    <%= render 'shared/searchbar' %>
    <%= render 'shared/cards' %>
    <%= render 'shared/map' %>
  </div>
</div>
