<div class="container">
  <div class="mt-5 text-center">
    <h3>Tell us a bit more about your broom...</h3>
  </div>

  <div class="form-container d-flex justify-content-center">
    <%= render "form", broomstick: @broomstick %>
  </div>

  <div>
    <%= link_to "Cancel", broomstick_path(@broomstick) %>
  </div>

</div>
