<div class="cards">
<div class="card">
    <div class="card-heading">
      <%= broomstick.name %>
      <%= broomstick.price %>
    </div>
    <div class="card-features">
      <div>
        <i class="fa-solid fa-bolt"></i>
      </div>
      <p>speed</p>
      <div>
        <i class="fa-solid fa-bolt"></i>
      </div>
      <p>stability</p>
    </div>
  </div>
</div>
