<div class="cards">
  <div class="card">
    <div class="broom-image">Broomstick photo</div>
    <i class="fa-solid fa-hat-wizard" style="color: D6B400"></i>
    <div class="card-text">
      <div class="card-heading">
        <%= broomstick.name %>
        <%= broomstick.price %>
      </div>
      <div class="card-features">
        <p>speed</p>
        <i class="fa-solid fa-bolt"></i>
      </div>
      <div class="card-features">
        <p>stability</p>
        <i class="fa-solid fa-bolt"></i>
      </div>
    </div>
  </div>
</div>
