 <div class="d-flex flex-column">
  <%= simple_form_for [@broomstick, @review] do |f| %>
    <div class="input-box my-3">
      <%= f.input :content %>
    </div>

    <div class="mt-5" id="create-btn">
    <%= f.submit "Submit review", class: "btn btn-black" %>
    </div>

    <div class="my-3" id="cancel-btn">
      <%= link_to "Cancel", broomstick_path(@broomstick) %>
    </div>

  <% end %>
</div>
