<div class="container">
  <div class="mt-5 text-center">
    <h1>Edit your review for <%= @broomstick.name %></h1>
  </div>

  <div class="form-container d-flex justify-content-center">
    <%= render "form", broomstick: @broomstick %>
  </div>

  <hr>
</div>
