<div class="container">
  <div class="mt-5 text-center">
    <h1>Tell us what you think about <%= @broomstick.name %></h1>
  </div>

  <div class="form-container d-flex justify-content-center">
    <%= render "form", review: @review %>
  </div>

</div>
